.btn-text.btn-search-box-close {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background-color: transparent;
  font-size: 26px;
  color: #787878;
}
.main-content{
  background-color: #f1f2f7 !important;
}

.navbar-first {
  height: 70px;
  box-shadow: 0 4px 16px 1px rgba(68, 102, 242, -0.94902) !important;
  border: 0 !important;
}