<div class="card" style="min-height: calc(100vh - 177px);">
  <div class="card-body h-100">
    <section class="page-not-found h-100 d-flex align-items-center justify-content-center">
      <!-- <img src="" (click)="goToDashboard()" class="img-fluid" alt=" "> -->
      <div class="text-box ">
        <h1 class="title-xxl">404</h1>
        <p class="title mb-4">Oops! Something is wrong.</p>
        <!-- <a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" class="btn btn-primary btn-lg"><span class="px-4">Go Back</span></a> -->
      </div>
    </section>
  </div>
</div>