.logo {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.logo img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 15px;
}

.login_logo {
  width: 40%;
  height: 40%;

}

.main-content {
  height: 90vh;
  padding: 0 !important;
}

.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

// .login {
//   /*background-image: linear-gradient(45deg, #5aa9d4, #437ca7);*/
// }
.content-box {
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  background-attachment: fixed;
}

.login {
  overflow-x: hidden; //Horizontal
  overflow-y: hidden; //Vertical
}

.login .card {
  min-height: 25rem;
}

.login-heading small {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.whiteIncolor {
  color: white;
}

.login-heading {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1;
}


.input-group-text {
  background-color: transparent;
}

ul li {
  line-height: 2;
  font-size: 15px;
  color: #fff;
}

.all-alert {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
}

.fa,
.fas {
  color: #555;
}

.login-button {
  width: 100px;
  height: 35px;
  font-weight: bold;

}
